
<div class="hold-transition login-page well box col-md-6 col-md-offset-3">
<div class="login-box">
<div class="login-logo">
            <h2>Login</h2>
        </div>
<div class="login-box-body">
<div class="row ">
<label  class="col-md-3 " for="email">Email</label>
<input class="col-md-6 " type="text" id="email" v-model="email" placeholder="abc@abc.com">
</div>
<br>
<div class="row">
<label  class="col-md-3" for="password">Password</label>
<input  class="col-md-6" id="password" type="password" v-model="password" placeholder="****"> 
</div>
<br>
<div class="row">
<button  class="btn btn-primary" demode >Login</button>
</div>
</div>
</div>
</div>