<template>  
   <div class="content">    
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-10">
               <div class="card">
                  <div class="card-header" data-background-color="purple">
                     <h4 class="title"> Add API</h4>
                     <p class="category">Add API Information</p>
                  </div>
                  <div class="card-content">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group label-floating">
                              <label for="url" class="control-label">API Url</label>
                              <input type="text" class="form-control" name="url" v-model="url"  required>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group label-floating">
                              <label for="apiType" class="control-label">API Type</label>
                              <select  class="form-control" name="apiType" id="apiType"  v-model="apiType" required>
                                 <option value="POST">POST</option>
                                 <option value="GET">GET</option>
                                 <option value="PUT">PUT</option>
                                 <option value="DELETE">DELETE</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-2">
                           <label for="headerParameter" class="control-label"> Add header Parameter</label>
                           <button  class="glyphicon glyphicon-plus-sign" style="color:purple" v-on:click="addheader()"></button>
                        </div>
                        <div class="col-md-5">
                           <div class="form-group label-floating">
                              <label for="headerParameter" class="control-label"> Key</label>
                              <input  type="text"  class="form-control col-md-6"  v-model="key" name="headerParameter" >
                           </div>
                        </div>
                        <div class="col-md-5">
                           <div class="form-group label-floating">
                              <label for="headerParameter" class="control-label"> Value</label>
                              <input type="text"  class="form-control col-md-6"  v-model="value" name="headerParameter" >
                           </div>
                        </div>
                     </div>
                     <table  class="table table-bordered" >
                        <thead style="background-color:grey;color:white;">
                           <tr>
                              <th><b>Key</b></th>
                              <th><b>value </b></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr v-for="header in headerParameter">
                              <td >
                                 {{header.key}}
                              </td>
                              <td >
                                 {{header.value}}
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="row">
                        <div class="col-md-2">
                           <label for="headerParameter" class="control-label"> Add  Parameter</label>
                           <button  class="glyphicon glyphicon-plus-sign" style="color:purple" v-on:click="addparams()"></button>
                        </div>
                        <div class="col-md-3">
                           <div class="form-group label-floating">
                              <label for="params" class="control-label">Params field</label>
                              <input  type="text"  class="form-control col-md-6"  v-model="field" name="headerParameter" >
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="form-group label-floating">
                              <label for="params" class="control-label">Params Type</label>
                              <input type="text"  class="form-control col-md-6"  v-model="type" name="headerParameter" >
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group label-floating">
                              <label for="params" class="control-label">Params Description</label>
                              <input type="text"  class="form-control col-md-6"  v-model="description" name="headerParameter" >
                           </div>
                        </div>
                     </div>
                     <table  class="table table-bordered" >
                        <thead style="background-color:grey;color:white;">
                           <tr>
                              <th><b>Field</b></th>
                              <th><b>Type </b></th>
                              <th><b>Description </b></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr v-for="para in params">
                              <td >
                                 {{para.field}}
                              </td>
                              <td >
                                 {{para.type}}
                              </td>
                              <td >
                                 {{para.description}}
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="container" style="margin-bottom:30px;">
                        <h2></h2>
                     </div>
                     <div id="exTab3" class="container-fluid">
                        <ul  class="nav nav-pills">
                           <li class="active">
                              <a  href="#1b" data-toggle="tab">example Usage</a>
                           </li>
                           <li><a href="#2b" data-toggle="tab">Success Response</a>
                           </li>
                           <li><a href="#3b" data-toggle="tab">Error Response</a>
                           </li>
                        </ul>
                        <div class="tab-content clearfix">
                           <div class="tab-pane active" id="1b">
                              <div>
                                 <div class="form-group label-floating">
                                    <label for="exampleUsage" class="control-label">example Usage</label>
                                    <textarea rows="9" class="form-control" v-model="exampleUsage" name="exampleUsage"  required></textarea>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="2b">
                             <div> 
                              <div class="form-group label-floating">
                                 <label for="successResponse" class="control-label">Success Response</label>
                                 <textarea  rows="9" class="form-control" v-model="successResponse"  name="successResponse"  required></textarea>
                              </div>
                             </div>
                           </div>
                           <div class="tab-pane" id="3b">
                              <div>
                                 <div class="form-group label-floating">
                                    <label for="errorResponse" class="control-label">Error Response</label>
                                    <textarea rows="9" class="form-control" name="errorResponse" v-model="errorResponse" required></textarea>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>                 
                     <div class="row" style="margin-top:30px;">
                        <div style="margin-left: 37%">
                           <button type="reset" class="btn btn-primary btn-round" v-on:click="cancel()">Cancel</button>
                           <button type="button" class="btn btn-primary btn-round" v-on:click="add()">Submit</button>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>
<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'
    Vue.use(vueResource)
    Vue.use(Router)
    export default {
        name: 'adddocumentation',
        data() {
            return {
                apiType: '',
                sid: '',
                url: '',
                key: '',
                value: '',
                field: '',
                type: '',
                description: '',
                headerParameter: [],
                params: [],
                exampleUsage: '',
                successResponse: '',
                errorResponse: ''
            }
        },
        methods: {
            addheader() {
                this.headerParameter.push({
                    "key": this.key,
                    "value": this.value
                });
                this.key = '';
                this.value = ''
            },
            addparams() {
                this.params.push({
                    "field": this.field,
                    "type": this.type,
                    "description": this.description
                });
                this.field = '';
                this.type = '';
                this.description = '';
            },
            add() {
                this.userid = localStorage.getItem('userid');
                var obj = {
                    'documentation': {
                        "url": this.url,
                        "apiType": this.apiType,
                        "headerParameter": this.headerParameter,
                        "params": this.params,
                        "exampleUsage": this.exampleUsage,
                        "successResponse": this.successResponse,
                        "errorResponse": this.errorResponse
                    }
                }
                this.sid = this.$route.params.id;;
                console.log(this.userid);
                console.log("IpAddress" + globalLocalHost);
                this.$http.post(globalLocalHost + '/addDocumentation/' + this.sid, obj).then(response => {
                    if (response.body.err == false) {
                        sweetalert('Success!', 'documentation Added successfully', 'success');
                        console.log(response)
                        this.$router.push('/dashboard/api/' + this.sid)
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            cancel() {
                var id = this.$route.params.id
                this.$router.push('/dashboard/api/' + id);
            }
        }
    }
</script>
<style>
    #exTab1 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
    
    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
    /* remove border radius for the tab */
    
    #exTab1 .nav-pills>li>a {
        border-radius: 0;
    }
    /* change border radius for the tab , apply corners on top*/
    
    #exTab3 .nav-pills>li>a {
        border-radius: 4px 4px 0 0;
    }
    
    #exTab3 .tab-content {
        color: white;
        background-color: lightgrey;
        padding: 5px 15px;
    }
</style>