<template>
   <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title"> Add Project</h4>
                        <p class="category">Add Project Information</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="name" class="control-label">name</label>
                                        <input type="text" class="form-control" name="name" v-model="name"  required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label for="isPrivate" class="control-label">project acess</label>
                                        <select  class="form-control" name="isPrivate" id="isPrivate"  v-model="isPrivate" required>
                                        <option value="public">Public</option>
                                        <option value="private">Private</option>
                                    </select>
                                    </div>
							</div>
                                 
							<div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label for="status" class="control-label">status</label>
                                        <select  class="form-control" name="status" id="status"  v-model="status" required>
                                        <option value="active">Active</option>
                                        <option value="inactive">InActive</option>
                                    </select>
                                    </div>
							</div>
                            </div>
                             <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="purpose" class="control-label">Purpose</label>
                                        <input type="text" class="form-control" v-model="purpose" name="purpose" required>
                                    </div>
                                </div>
                            </div>
                                 <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="authenticationDescription" class="control-label">Authentication Description</label>
                                        <input type="text" class="form-control" name="authenticationDescription" v-model="authenticationDescription" required>
                                    </div>
                                </div>  
                            </div>

                            <div class="row">
                                <div style="margin-left: 30%">
                                    <button type="reset" class="btn btn-primary btn-round" v-on:click="cancelop()" >Cancel</button>
                                    <button type="button" class="btn btn-primary btn-round" v-on:click="add()">Submit</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</template>
<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'
    Vue.use(vueResource)
    Vue.use(Router)
    export default {
        name: 'addproject',
        data() {
            return {
                name: '',
                isPrivate: '',
                purpose: '',
                status: '',
                authenticationDescription: '',
                userid: ''
            }
        },
        methods: {
            add() {
                this.userid = localStorage.getItem('userid');
                var obj = {
                    'project': {
                        'name': this.name,
                        'isPrivate': this.isPrivate,
                        'purpose': this.purpose,
                        'status': this.status,
                        'authenticationDescription': this.authenticationDescription
                    }
                }
                this.userid = localStorage.getItem('userId');
                console.log(this.userid);
                console.log("ipAddress:" + globalLocalHost);
                this.$http.post(globalLocalHost + '/user/addProject/' + this.userid, obj).then(response => {
                    if (response.body.err == false) {
                        sweetalert('Success!', 'Project Added successfully', 'success');
                        console.log(response)
                        this.$router.push('/dashboard/allprojects')
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            cancelop() {
                this.$router.push('/dashboard/allprojects')
            },
        }
    }
</script>