<template>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title"> Add service</h4>
                        <p class="category">Add service Information</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="name" class="control-label">name</label>
                                        <input type="text" class="form-control" name="name" v-model="name"  required>
                                    </div>
                                </div>
                            </div>
                          <div class="row">
                                                            <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label for="status" class="control-label">status</label>
                                        <select  class="form-control" name="status" id="status"  v-model="status" required>
                                        <option value="active">Active</option>
                                        <option value="inactive">InActive</option>
                                    </select>
                                    </div>
                            </div>
                            </div>
                            
                                 <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="description" class="control-label"> Description</label>
                                        <input type="text" class="form-control" name="description" v-model="description" required>
                                    </div>
                                </div>  
                            </div>
                            <div class="row">
                                <div style="margin-left: 30%">
                                    <button type="reset" class="btn btn-primary btn-round" v-on:click="cancel()">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-round" v-on:click="add()">Submit</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
           
    </div>
   </div>
</template>
<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'
    Vue.use(vueResource)
    Vue.use(Router)
    export default {
        name: 'addservice',
        data() {
            return {
                name: '',
                status: '',
                description: '',
                userid: ''
            }
        },
        methods: {
            add() {
                this.userid = localStorage.getItem('userid');
                var obj = {
                    'service': {
                        'name': this.name,
                        'status': this.status,
                        'description': this.description
                    }
                }
                this.userid = localStorage.getItem('userId');
                var id = this.$route.params.id
                console.log(this.userid);
                console.log("IpAddress" + globalLocalHost);
                this.$http.post(globalLocalHost + '/user/addProjectServie/' + this.userid + '/' + id, obj).then(response => {
                    if (response.body.err == false) {
                        sweetalert('Success!', 'service Added successfully', 'success');
                        console.log(response)
                        this.$router.push('/dashboard/services/' + id)
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            cancel() {
                var id = this.$route.params.id
                this.$router.push('/dashboard/services/' + id);
            }
        }
    }
</script>