<template>
 <div class="content">
	            <div class="container-fluid" id="tb">
                 <div class="row">
                      <input type="button" class="btn btn-md " style="background-color: #9c27b0; color:#FFFFFF" value="Add New User" v-on:click="addnewuser()">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header" data-background-color="purple">
                                
	                                <h4 class="title">User LIST</h4>
	                                <p class="category">Following is the User list      </p>
	                            </div>
	                           <div class="card-content table-responsive">
	                                <table class="table table-hover">
	                                    <thead>
	                                    	<th> Name</th>
	                                        <th>Role</th>
                                            <th>Status</th>
	                                    </thead>
	                                    <tbody>
	                                        <tr v-for="user in users">
	                                        	<td>{{user.firstName}} {{user.lastName}}</td>
                                                 <td>{{user.userrole}}</td>
                                                <td>{{user.status}}</td>
	                                        	 
                                                 <input type="button" class="btn btn-sm  btn-danger" value="Delete" v-on:click="deleteuser(user)">
                                                 <input type="button" class="btn btn-sm  btn-primary" value="Edit"  v-on:click="div_show1(user)">
                                                    
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
            <div id="frm1" style="display:none">
             <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title"> Edit User</h4>
                        <p class="category">Edit User Information</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="name" class="control-label">username</label>
                                        <input type="text" class="form-control" name="username" v-model="username"  required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="name" class="control-label">firstName</label>
                                        <input type="text" class="form-control" name="firstName" v-model="firstName"  required>
                                    </div>
                                </div>
                            </div>    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="name" class="control-label">lastName</label>
                                        <input type="text" class="form-control" name="lastName" v-model="lastName"  required>
                                    </div>
                                </div>
                            </div>
							<div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="status" class="control-label">status</label>
                                        <select  class="form-control" name="status" id="status"  v-model="status" required>
                                        <option value="active">Active</option>
                                        <option value="inactive">InActive</option>
                                    </select>
                                    </div>
							</div>
                           
                             <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="purpose" class="control-label">email</label>
                                        <input type="email" class="form-control" v-model="email" name="email" required>
                                    </div>
                                </div>
                            </div>
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="authenticationDescription" class="control-label">mobile</label>
                                        <input type="number" class="form-control" name="mobile" v-model="mobile" required>
                                    </div>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="purpose" class="control-label">usertype</label>
                                        <input type="text" class="form-control" v-model="usertype" name="usertype" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label for="userrole" class="control-label">userrole</label>
                                    <select  class="form-control" name="userrole" id="userrole"  v-model="userrole" required>
                                    <option value="read">Read</option>
                                    <option value="write">Write</option>
                                </select>
                                </div>
                        </div>
                          
                            <div class="row">
                                <div style="margin-left: 30%">
                                    <button type="reset" class="btn btn-primary btn-round" v-on:click="cancelop()">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-round" v-on:click="div_hide1()">Submit</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
	</div>
</template>

<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'
    Vue.use(vueResource)
    Vue.use(Router)
    export default {


        name: 'login',
        data() {
            return {
                //project details
                firstName: '',
                name: '',
                isPrivate: '',
                status: '',
                email: '',
                password: '',
                users: [],
                prjId: '',
                url: '',
                username: '',
                lastName: '',
                mobile: '',
                usertype: '',
                userrole: '',

            }
        },

        methods: {

            getAllusers() {
                console.log("ipaddress:" + globalLocalHost);
                this.$http.get(globalLocalHost + '/getAllUser').then(response => {
                    if (response.body.err == false) {
                        //sweetalert('Success!', 'Login successful', 'success');
                        console.log(response)
                        this.users = response.body.result.users;
                    } else {

                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            deleteuser(user) {
                debugger
                this.userId = user._id;
                this.$http.delete(globalLocalHost + '/deleteUser/' + this.userId).then(response => {
                    if (response.body.err == false) {
                        console.log(response)
                        this.users.splice(this.users.indexOf(user), 1)
                        sweetalert('Success!', 'project deleted  successfully', 'success');
                        console.log("deleted")
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                    console.log(response)
                })
            },
            div_show1(user) {
                this.userId = user._id;
                console.log("here");
                document.getElementById('frm1').style.display = "block";
                document.getElementById('tb').style.display = "none";

                this.firstName = user.firstName,
                    this.lastName = user.lastName,
                    this.status = user.status,
                    this.mobile = user.mobile,
                    this.username = user.username,
                    this.email = user.email,
                    this.usertype = user.usertype,
                    this.userrole = user.userrole

            },
            div_hide1() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
                console.log("call edit button");
                //create json for update api
                var obj = {
                        'user': {
                            'firstName': this.firstName,
                            'lastName': this.lastName,
                            'status': this.status,
                            'mobile': this.mobile,
                            'username': this.username,
                            'email': this.email,
                            'usertype': this.usertype,
                            'userrole': this.userrole
                        }
                    }
                    //call edit api
                this.userid = localStorage.getItem('userId');

                this.$http.put(globalLocalHost + '/updateuser/' + this.userId, obj).then(response => {
                    if (response.body.err == false) {
                        console.log(response);
                        this.getAllusers()
                        sweetalert('Success!', 'update done successfully', 'success');
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            cancelop() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
            },

        },
        created() {
            this.getAllusers()
        },

    }
</script>
<style></style>