<template>
 <div class="content">
	            <div class="container-fluid" id="tb">
                 <div class="row">
                      <input type="button" class="btn btn-md btn-success" style="background-color: #9c27b0; color:#FFFFFF" value="Add New Project" v-on:click="addproject()">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header" data-background-color="purple">
                                
	                                <h4 class="title">PROJECT LIST</h4>
	                                <p class="category">Following is the Project list with its services and controls     </p>
	                            </div>
	                           <div class="card-content table-responsive">
	                                <table class="table table-hover">
	                                    <thead>
	                                    	<th>Name</th>
	                                    	<th>Services</th>
                                            <th>Contrlos</th>
	                                    </thead>
	                                    <tbody>
	                                        <tr v-for="project in projects">
	                                        	<td>{{project.name}}</td>
                                                 <td>
                                                 <input type="button" class="btn btn-sm btn-info" value="Services" v-on:click="services(project)">
                                                 </td>
	                                        	 <td>
                                                 <input type="button" class="btn btn-sm  btn-danger" value="Delete" v-on:click="deleteproject(project)">
                                                 <input type="button" class="btn btn-sm  btn-primary" value="Edit"  v-on:click="div_show1(project)">
                                                 <input type="button" class="btn btn-sm  btn-primary" value="Exports" v-on:click="exportprj(project)">
                                                </td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
            <div id="frm1" style="display:none">
             <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title"> Edit Project</h4>
                        <p class="category">Edit Project Information</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="name" class="control-label">name</label>
                                        <input type="text" class="form-control" name="name" v-model="name"  required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label for="isPrivate" class="control-label">project acess</label>
                                        <select  class="form-control" name="isPrivate" id="isPrivate"  v-model="isPrivate" required>
                                        <option value="public">Public</option>
                                        <option value="private">Private</option>
                                    </select>
                                    </div>
							</div>
                                 
							<div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label for="status" class="control-label">status</label>
                                        <select  class="form-control" name="status" id="status"  v-model="status" required>
                                        <option value="active">Active</option>
                                        <option value="inactive">InActive</option>
                                    </select>
                                    </div>
							</div>
                            </div>
                             <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="purpose" class="control-label">Purpose</label>
                                        <input type="text" class="form-control" v-model="purpose" name="purpose" required>
                                    </div>
                                </div>
                            </div>
                                 <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label for="authenticationDescription" class="control-label">Authentication Description</label>
                                        <input type="text" class="form-control" name="authenticationDescription" v-model="authenticationDescription" required>
                                    </div>
                                </div>  
                            </div>

                            <div class="row">
                                <div style="margin-left: 30%">
                                    <button type="reset" class="btn btn-primary btn-round" v-on:click="cancelop()">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-round" v-on:click="div_hide1()">Submit</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
	</div>
</template>

<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'

    Vue.use(vueResource)
    Vue.use(Router)
    export default {


        name: 'login',
        data() {
            return {
                //project details
                name: '',
                isPrivate: '',
                purpose: '',
                status: '',
                authenticationDescription: '',
                email: '',
                password: '',
                projects: [],
                prjId: '',
                url :''
            }
        },

        methods: {
            services(project) {
                this.$router.push('/dashboard/services/' + project._id)
            },
            getAllProjects() {
                console.log("ipaddress:" + globalLocalHost);
                this.$http.get(globalLocalHost + '/user/getAllProject').then(response => {
                    if (response.body.err == false) {
                        //sweetalert('Success!', 'Login successful', 'success');
                        console.log(response)
                        this.projects = response.body.result.project;
                    } else {


                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            addproject() {
                this.$router.push('/dashboard/addproject')
            },
            deleteproject(project) {
                debugger
                this.prjId = project._id;
                this.userid = localStorage.getItem('userId');
                //  console.log("projectis:" + pid)
                console.log("ownerId:" + this.userid)
                console.log("ipaddress:" + globalLocalHost);
                this.$http.delete(globalLocalHost + '/owner/deleteProject/' + this.prjId + '/' + this.userid).then(response => {
                    if (response.body.err == false) {
                        console.log(response)
                        this.projects.splice(this.projects.indexOf(project), 1)
                        sweetalert('Success!', 'project deleted  successfully', 'success');
                        console.log("deleted")
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                    console.log(response)
                })
            },
            div_show1(project) {
                this.prjId = project._id;
                console.log("here");
                document.getElementById('frm1').style.display = "block";
                document.getElementById('tb').style.display = "none";
                //add values to edit form
                console.log("here+++++");
                console.log(project.name)
                this.name = project.name,
                    this.isPrivate = project.isPrivate,
                    this.purpose = project.purpose,
                    this.status = project.status,
                    this.authenticationDescription = project.authenticationDescription

            },
            div_hide1() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
                console.log("call edit button");
                //create json for update api
                var obj = {
                        'project': {
                            'name': this.name,
                            'isPrivate': this.isPrivate,
                            'purpose': this.purpose,
                            'status': this.status,
                            'authenticationDescription': this.authenticationDescription
                        }
                    }
                    //call edit api
                this.userid = localStorage.getItem('userId');
                console.log("projects:" + this.prjId)
                console.log("ownerId:" + this.userid)
                console.log("IpAddress:" + globalLocalHost);
                this.$http.put(globalLocalHost + '/owner/updateProject/' + this.userid + '/' + this.prjId, obj).then(response => {
                    if (response.body.err == false) {
                        console.log(response);
                        this.getAllProjects()
                        sweetalert('Success!', 'update done successfully', 'success');
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            cancelop() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
            },
            exportprj(project){
                debugger
               //this.prjId = project._id;
               console.log(project._id);
                this.url = globalLocalHost + '/getallservicesofproject/' + project._id;
               // console.log(this.url);
                window.open(this.url, "_blank");
                //  this.$http.get(globalLocalHost + '/getallservicesofproject/' + this.prjId ).then(response => {
                //     if (response.body.err == false) {
                //         console.log(response)
                //         // this.projects.splice(this.projects.indexOf(project), 1)
                //         // sweetalert('Success!', 'project deleted  successfully', 'success');
                //         console.log("exported successfully")
                //     } else {
                //         console.log(response)
                //         sweetalert('Oops...', 'Something went wrong!', 'error')
                //     }
                // }, response => {
                //     sweetalert('Oops...', 'Something went wrong!', 'error')
                //     console.log(response)
                // })

            }
        },
        created() {
            this.getAllProjects()
        },

    }
</script>
<style></style>