<template>
   <div class="container">
      <div class="container-fluid" id="tb">
             <input type="button" class="btn btn-md btn-success" value="Add New Api" v-on:click="addAPI()">
         <div class="row">
            <div class="col-md-10">
               <div class="card">
                  <div class="card-header" data-background-color="purple">
                     <h4 class="title">API List</h4>
                     <p class="category">Following are the apis of selected Servise</p>
                  </div>
                  <div class="card-content table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <th>Name</th>
                           <th>URL</th>
                           <th>Actions</th>
                        </thead>
                        <tbody>
                           <tr v-for="api in APIs">
                              <td>{{api.apiType}}</td>
                              <td><b>/</b>{{api.url}}</td>
                              <td>
                                 <input type="button" class="btn btn-sm  btn-primary" value="Documentation"  v-on:click="documentation(api)">
                                 <input type="button" class="btn btn-sm  btn-primary" value="Edit"  v-on:click="div_show1(api)">
                                 <input type="button" class="btn btn-sm  btn-danger" value="delete"  v-on:click="deleteapi(api)">
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="frm1" style="display:none">
         <div class="row">
            <div class="col-md-8">
               <div class="card">
                  <div class="card-header" data-background-color="purple">
                     <h4 class="title"> Edit API</h4>
                     <p class="category">Edit API Information</p>
                  </div>
                  <div class="card-content">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group label-floating">
                              <label for="url" class="control-label">API Url</label>
                              <input type="text" class="form-control" name="url" v-model="url"  required>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group label-floating">
                              <label for="apiType" class="control-label">API Type</label>
                              <select  class="form-control" name="apiType" id="apiType"  v-model="apiType" required>
                                 <option value="POST">POST</option>
                                 <option value="GET">GET</option>
                                 <option value="PUT">PUT</option>
                                 <option value="DELETE">DELETE</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-2">
                           <label for="headerParameter" class="control-label"> Add header Parameter</label>
                           <button  class="glyphicon glyphicon-plus-sign" style="color:purple" v-on:click="addheader()"></button>
                        </div>
                        <div class="col-md-5">
                           <div class="form-group label-floating">
                              <label for="headerParameter" class="control-label"> Key</label>
                              <input  type="text"  class="form-control col-md-6"  v-model="key" name="headerParameter" >
                           </div>
                        </div>
                        <div class="col-md-5">
                           <div class="form-group label-floating">
                              <label for="headerParameter" class="control-label"> Value</label>
                              <input type="text"  class="form-control col-md-6"  v-model="value" name="headerParameter" >
                           </div>
                        </div>
                     </div>
                     <table  class="table table-bordered" >
                        <thead style="background-color:grey;color:white;">
                           <tr>
                              <th><b>Key</b></th>
                              <th><b>value </b></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr v-for="header in headerParameter">
                              <td >
                                 <input type="text"  class="form-control col-md-6"  v-model="header.key" name="headerParameter" >
                              </td>
                              <td >
                                 <input type="text"  class="form-control col-md-6"  v-model="header.value" name="headerParameter" >
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="row">
                        <div class="col-md-2">
                           <label for="headerParameter" class="control-label"> Add  Parameter</label>
                           <button  class="glyphicon glyphicon-plus-sign" style="color:purple" v-on:click="addparams()"></button>
                        </div>
                        <div class="col-md-3">
                           <div class="form-group label-floating">
                              <label for="params" class="control-label">Params field</label>
                              <input  type="text"  class="form-control col-md-6"  v-model="field" name="headerParameter" >
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="form-group label-floating">
                              <label for="params" class="control-label">Params Type</label>
                              <input type="text"  class="form-control col-md-6"  v-model="type" name="headerParameter" >
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group label-floating">
                              <label for="params" class="control-label">Params Description</label>
                              <input type="text"  class="form-control col-md-6"  v-model="description" name="headerParameter" >
                           </div>
                        </div>
                     </div>
                     <table  class="table table-bordered" >
                        <thead style="background-color:grey;color:white;">
                           <tr>
                              <th><b>Field</b></th>
                              <th><b>Type </b></th>
                              <th><b>Description </b></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr v-for="para in params">
                              <td >
                                 <input  type="text"  class="form-control col-md-6"  v-model="para.field" name="headerParameter" >
                              </td>
                              <td >
                                 <input  type="text"  class="form-control col-md-6"  v-model="para.type" name="headerParameter" >
                              </td>
                              <td >
                                 <input  type="text"  class="form-control col-md-6"  v-model="para.description" name="headerParameter" >
                              </td>
                           </tr>
                        </tbody>
                     </table>



                    <div class="container" style="margin-bottom:30px;">
                        <h2></h2>
                     </div>
                     <div id="exTab3" class="container-fluid">
                        <ul  class="nav nav-pills">
                           <li class="active">
                              <a  href="#1b" data-toggle="tab">example Usage</a>
                           </li>
                           <li><a href="#2b" data-toggle="tab">Success Response</a>
                           </li>
                           <li><a href="#3b" data-toggle="tab">Error Response</a>
                           </li>
                        </ul>
                        <div class="tab-content clearfix">
                           <div class="tab-pane active" id="1b">
                              <div>
                                 <div class="form-group label-floating">
                                    <label for="exampleUsage" class="control-label">example Usage</label>
                                    <textarea rows="9" class="form-control" v-model="exampleUsage" name="exampleUsage"  required></textarea>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="2b">
                             <div> 
                              <div class="form-group label-floating">
                                 <label for="successResponse" class="control-label">Success Response</label>
                                 <textarea  rows="9" class="form-control" v-model="successResponse"  name="successResponse"  required></textarea>
                              </div>
                             </div>
                           </div>
                           <div class="tab-pane" id="3b">
                              <div>
                                 <div class="form-group label-floating">
                                    <label for="errorResponse" class="control-label">Error Response</label>
                                    <textarea rows="9" class="form-control" name="errorResponse" v-model="errorResponse" required></textarea>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>




                     <div class="row">
                        <div style="margin-left: 30%">
                           <button type="reset" class="btn btn-primary btn-round"   v-on:click=" cancelop()">Cancel</button>
                           <button type="button" class="btn btn-primary btn-round" v-on:click=" div_hide1()">Submit</button>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>
<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'
    Vue.use(vueResource)
    Vue.use(Router)
    export default {
        name: 'login',
        data() {
            return {
                //service details
                name: '',
                status: '',
                description: '',
                APIs: [],
                headerParameter: [],
                params: [],
                exampleUsage: {},
                successResponse: {},
                errorResponse: {},
                apiType: '',
                url: '',
                key: '',
                value: '',
                field: '',
                type: '',
                seen: true,
                show: true,
                did: ''
            }
        },
        methods: {
            cancelop() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
            },
            addheader() {
                this.headerParameter.push({
                    "key": this.key,
                    "value": this.value
                });
                this.key = '';
                this.value = ''
            },
            addparams() {
                this.params.push({
                    "field": this.field,
                    "type": this.type,
                    "description": this.description
                });
                this.field = '';
                this.type = '';
                this.description = '';
            },
            //use
            getAllservices() {
                var id = this.$route.params.id;
                console.log("IpAddress" + globalLocalHost);
                this.$http.get(globalLocalHost + '/getAlldocumentOfService/' + id).then(response => {
                    if (response.body.err == false) {
                        //sweetalert('Success!', 'Login successful', 'success');
                        console.log(response)
                        this.APIs = response.body.result;
                    } else {
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            //use
            addAPI() {
                var id = this.$route.params.id;
                this.$router.push('/dashboard/addAPI/' + id)
            },
            //use
            deleteapi(api) {
                this.did = api._id;
                this.userid = localStorage.getItem('userId');
                console.log("IpAddress" + globalLocalHost);
                // debugger
                this.$http.delete(globalLocalHost + '/deleteDocument/' + this.did).then(response => {
                    if (response.body.err == false) {
                        console.log(response)
                        this.APIs.splice(this.APIs.indexOf(api), 1)
                        sweetalert('Success!', 'documentation deleted  successfully', 'success');
                        console.log("deleted")

                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                    console.log(response)
                })
            },
            div_show1(service) {
                this.did = service._id;
                console.log("here");
                document.getElementById('frm1').style.display = "block";
                document.getElementById('tb').style.display = "none";
                //add values to edit form
                this.apiType = service.apiType,
                    this.url = service.url,
                    this.headerParameter = service.headerParameter,
                    this.params = service.params,
                    this.exampleUsage = service.exampleUsage,
                    this.successResponse = service.successResponse,
                    this.errorResponse = service.errorResponse
            },
            div_hide1() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
                console.log("call edit button");
                //create json for update api
                var obj = {
                        'documentation': {
                            "url": this.url,
                            "apiType": this.apiType,
                            "headerParameter": this.headerParameter,
                            "params": this.params,
                            "exampleUsage": this.exampleUsage,
                            "successResponse": this.successResponse,
                            "errorResponse": this.errorResponse
                        }
                    }
                    //call edit api
                var pid = this.$route.params.id;
                this.userid = localStorage.getItem('userId');
                console.log("services:" + pid)
                console.log("ownerId:" + this.userid)
                console.log("IpAddress" + globalLocalHost);
                //   debugger
                this.$http.put(globalLocalHost + '/UpDdateocumentation/' + this.did, obj).then(response => {
                    if (response.body.err == false) {
                        console.log(response);
                        this.getAllservices()
                        sweetalert('Success!', 'updated seccessfully done', 'success');

                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            documentation(api) {
                var ser_id = this.$route.params.id;
                localStorage.setItem('ser_id', ser_id);
                this.$router.push('/dashboard/documentation/' + api._id)
            }
        },

        created() {
            this.getAllservices()
        },
    }
</script>

<style></style>