<template> 
   <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../../static/img/sidebar-1.jpg">
            <div class="logo">
                <a href="/#/dashboard" class="simple-text">
				API Planner
				</a>
            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/#/dashboard/index">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>




                    <li> 
                        <a href="/#/dashboard/allprojects">
                            <i class="material-icons">content_paste</i>
                            <p>All Projects</p>
                        </a>
                    </li>
                   
                     <li>
                        <a class="disabled">
                         <i class="material-icons">import_export</i>
                            <p>Exports</p>
                        </a>
                    </li>
                    <li>
                        <a v-on:click="logout()">
                           <i class="material-icons">settings_power</i>
                            <p>Logout</p>
                        </a>
                    </li>
                    <li>
                        <a href="/#/dashboard/adduser">
                        <i class="material-icons">&#xe853;</i>
                            <p>Add User</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                        <a class="navbar-brand" href="#">API Planner</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">              
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <p> <i class="material-icons">person</i>ACCOUNT:<b>{{name}}</b></p>
                                </a>
                            </li>
                           
                            
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
               <router-view></router-view>
                </div>
            </div>
        </div>
    </div>  
</template>

<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import vueResource from 'vue-resource'
    Vue.use(vueResource)

    Vue.http.interceptors.push((request, next) => {
        console.log(localStorage.getItem('token'));
        request.headers.set('Authorization', localStorage.getItem('token'))
        request.headers.set('Accept', 'application/json')
        next()
    })

    export default {
        name: 'dashboard',
        data() {
            return {
                name: localStorage.getItem('name')
            };
        },
        methods: {
            logout() {
                localStorage.clear();
                this.$router.push({
                    path: '/'
                })
            }
        }
    }
</script>