<template>
   <div class="col-md-12" style="background-color:white;padding-top:25px; box-shadow:10px 10px 5px black;  ">
      <div class="content " style="background-color:white">
         <div  class="pull-right">
            <button type="reset" class="btn btn-google btn-round btn-sm" v-on:click=" cancelop()"><span class="glyphicon glyphicon-remove"></span></button>  
         </div>
         <div class="col-md-10">
            <div>
               <h5></h5>
               <button  class="btn btn-md btn-instagram"><b>{{APIs.apiType}}</b></button>
            </div>
            <div class="data">
               <h6><b>/{{APIs.url}}</b></h6>
            </div>
            <div>
               <h4><b>Header Paramter:</b></h4>
               <table class="table table-bordered">
                  <thead style="background-color:grey;color:white;">
                     <tr>
                        <th><b>Key</b></th>
                        <th><b>value </b></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr v-for="header in APIs.headerParameter">
                        <td>{{header.key}}</td>
                        <td>{{header.value}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div>
               <h4><b> Parameter:</b></h4>
               <table class="table table-bordered">
                  <thead style="background-color:grey;color:white;">
                     <tr>
                        <th> <b>Field</b> </th>
                        <th> <b>Type</b> </th>
                        <th> <b>Description</b> </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style="color:black" v-for="para in APIs.params">
                        <td>{{para.field}}</td>
                        <td>{{para.type}}</td>
                        <td>{{para.description}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="data">
               <h4><b>Example Usage:</b></h4>
               <p>
               <pre>{{APIs.exampleUsage}}</pre>
               </p>
            </div>
            <div class="data">
               <h4><b>Success Response:</b></h4>
               <p>
               <pre>{{APIs.successResponse}}</pre>
               </p>
            </div>
            <div class="data">
               <h4><b>Error Response:</b></h4>
               <p>
               <pre>{{APIs.errorResponse}}</pre>
               </p>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'
    Vue.use(vueResource)
    Vue.use(Router)
    export default {
        name: 'documentation',
        data() {
            return {
                //service details
                name: '',
                status: '',
                description: '',
                APIs: [],
                seen: true,
                show: true,
                sid: ''
            }
        },
        methods: {
            getAllservices() {
                var id = this.$route.params.id;
                console.log("+++++++" + globalLocalHost);
                this.$http.get(globalLocalHost + '/getDocumentation/' + id).then(response => {
                    if (response.body.err == false) {
                        //sweetalert('Success!', 'Login successful', 'success');
                        console.log(response)
                        this.APIs = response.body.result.user;
                    } else {
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    console.log(response)
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            addAPI() {
                var id = this.$route.params.id;
                this.$router.push('/dashboard/addAPI/' + id)
            },
            deleteservice(service) {
                var pid = this.$route.params.id;
                this.sid = service.id;
                console.log("service id:" + this.sid)
                    //  debugger
                console.log("+++++++" + globalLocalHost);
                this.$http.delete(globalLocalHost + '/user/deleteProjectService/' + pid + '/' + this.sid).then(response => {
                    if (response.body.err == false) {
                        console.log(response)
                        this.services.splice(this.services.indexOf(service), 1)
                        sweetalert('Success!', 'service deleted  successfully', 'success');
                        console.log("deleted")
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    //  sweetalert('Oops...', 'Something went wrong!', 'error')
                    console.log(response)
                })
            },
            div_show1(service) {
                this.sid = service.id;
                console.log("here");
                document.getElementById('frm1').style.display = "block";
                document.getElementById('tb').style.display = "none";
                //add values to edit form
                this.name = service.name,
                    this.status = service.status,
                    this.description = service.description
            },
            div_hide1() {
                document.getElementById('frm1').style.display = "none";
                document.getElementById('tb').style.display = "block";
                console.log("call edit button");
                //create json for update api
                var obj = {
                        'service': {
                            'name': this.name,
                            'description': this.description,
                            'status': this.status,
                        }
                    }
                    //call edit api
                var pid = this.$route.params.id;
                this.userid = localStorage.getItem('userId');
                console.log("services:" + pid)
                console.log("ownerId:" + this.userid)
                console.log("+++++++" + globalLocalHost);
                this.$http.put(globalLocalHost + '/user/updateProjectService/' + pid + '/' + this.sid, obj).then(response => {
                    if (response.body.err == false) {
                        console.log(response);
                        this.getAllservices()
                        sweetalert('Success!', 'updated seccessfully done', 'success');

                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            },
            documentation(api) {
                this.$router.push('/dashboard/documentation/' + api._id)
            },
            cancelop() {
                // alert('hello');
                // debugger
                var id = localStorage.getItem('ser_id');
                localStorage.removeItem('ser_id');
                this.$router.push('/dashboard/api/' + id);
            }
        },
        created() {
            this.getAllservices()
        },
    }
</script>

<style scoped>
    .content {}
    
    .data {
        background-color: #292b36;
        color: #ffffff;
        padding: 10px;
        border-radius: 6px;
        position: relative;
        margin: 10px 0 20px 0;
    }
</style>