<template>
 <div>
      
         <div>
        <h2 style="line-height: 12px;
        font-size: 20pt;
        margin-top: 20px;
        margin-left: 15px;
        position:absolute;
        padding-top:225px;
        top:0;
        left:0;
        color:purple;"> <b>API PLANNER APP</b> </h2>
    
    
   </div>  

     <div>
          <img src="/static/img/foxteam.jpg"  align="left" >   
     </div>


   <div class="container">
     <div class="content">
                <div class="container-fluid">
                    <div class="row" style="margin-left:200px;margin-top:180px;">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title"> <b> Login </b></h4>
                                </div>
                                <div class="card-content">
                                  
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email address</label>
                                                    <input type="email" class="form-control" name="email" id="email" v-model="email">
                                                </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" class="form-control" name="password" id="password" v-model="password">
                                                </div>
                                            </div>  
                                          </div>   
                                        <button type="submit" class="btn btn-primary pull-right" style="margin-right:50px" v-on:click="login()"> <b>Login</b> </button>
                                    <!--  <a href="#/signup" class="pull-right" style="margin-right:50px;margin-top:30px;"> <b>LOGIN not member yet?  Join Us!!</b></a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
 </div>
</template>

<script>
    import sweetalert from 'sweetalert'
    import Vue from 'vue'
    import Router from 'vue-router'
    import vueResource from 'vue-resource'
    Vue.use(vueResource)
    Vue.use(Router)
    export default {
        name: 'login',
        data() {
            return {
                email: '',
                password: '',
                userid: '',
                token: ''
            }
        },
        methods: {
            login() {
                var obj = {
                        'user': {
                            'email': this.email,
                            'password': this.password
                        }
                    }
                    //added globalLocalHost value to change it change from global.js
                console.log("+++++++" + globalLocalHost);
                this.$http.post(globalLocalHost + '/userLogin', obj).then(response => {
                    if (response.body.err == false) {
                        console.log(response);
                        this.userid = response.body.result.id;
                        this.token = response.body.result.token;
                        this.name = response.body.result.name;

                        console.log("********************" + this.userid, this.token, this.name);
                        localStorage.setItem('name', this.name);
                        localStorage.setItem('userId', this.userid);
                        localStorage.setItem('token', this.token);
                        //sweetalert('Success!', 'Login successful', 'success');
                        this.$router.push({
                            path: '/dashboard/index'

                        })
                    } else {
                        console.log(response)
                        sweetalert('Oops...', 'Something went wrong!', 'error')
                    }
                }, response => {
                    sweetalert('Oops...', 'Something went wrong!', 'error')
                })
            }
        }
    }
</script>