<template>
  <div id="app">
   <!--<img src="./assets/logo.png">-->
    <router-view></router-view>
  </div>
</template>

<script>
    window.foo = "fooo";
    export default {
        name: 'app',
        data() {
            return {

            };
        }
    }
</script>

<style scoped>

</style>